body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  background-color: darkcyan;
  position: fixed;
  top: 0;
  width: 100%;
}

#titulo {
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#minha_foto {
  width: 250px;
  margin-top: 70px;
  margin-left: 5px;
  border-radius: 50%;
}

#licoes_aprendidas {
  margin-left: 5px;
}

#licoes_a_aprender {
  margin-left: 5px;
}
