body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: sans-serif;
}

#cabecalho {
  background-color: darkcyan;
  position: fixed;
  top: 0;
  width: 100%;
}

#titulo {
  font-size: 25px;
  color: white;
  text-align: center;
}

#minha_foto {
  width: 200px;
  margin-left: 50px;
  margin-top: 105px;
}

article {
  text-align: justify;
  background-color: darkseagreen;
  padding: 10px 15px;
  width: 500px;
  margin-left: 50px;
  margin-top: 10px;
}

aside {
  text-align: justify;
  background-color: grey;
  border-style: solid;
  padding: 25px;
  width: 300px;
  margin-left: 50px;
  margin-top: 10px;
}

li {
  margin-left: 50px;
}


h2 {
  margin-left: 50px;
}

#descreve-link {
  margin-top: 70px;
  margin-left: 50px;
}

#linka-pagina {
  color: darkcyan;
  text-decoration: none;
}

#rodape {
  font-size: 15px;
  color: white;
  background-color: darkcyan;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
